body{
  background-image: url(../../images/KakaoTalk_20250703_103031229_02.jpg);
  background-repeat: no-repeat;
  background-size:1000px;
  background-position: center center;
  height: 3000px;
  background-attachment: fixed;
  
  /* 그라데이션 */
  background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
  
}

h1{
  background-color: #ff7051;
}

p{
  background-color: rgb(100, 100, 125);
}

.bg{
  background-color: rgba(50, 50, 50, 5.5);
}