*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.box{
  width: 500px;
  height: 800px;
  margin: auto;
  border: 1px solid white;
  background-color: yellow;
}
.images{
  height: 150px;
  width: 150px;
  margin: auto;
  margin-top: 450px;
  border-radius: 50%;
  overflow: hidden;
  /* 플렉스 사용시 가운데로 */
  display: flex;
 }
 i{
  font-size: 40px;
 }
 .icon{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 83px;
 }
 p{
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
 }
 h3{
  text-align: center;
 }
 .letter>li{
  list-style-type: none;
  float: left;
  width: 25%;
  text-align: center;
 }