*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 320px;
  gap: 15px;
  padding: 20px;
}
.card{
  background: white;
  box-shadow: 2px 2px 5px gray;
  padding: 20px;
}


.card-image {
  height: 60%;
  background-size: cover;
}

.card > h2{
  text-align: center;
  padding: 5px;
  font-size: 2rem;
}
.card > p {
  font-size: 0.8rem;
}

.image1{
  background-image: url(./cup-1.jpg);
}
.image2{
  background-image: url(./cup-2.jpg);
}
.image3{
  background-image: url(./cup-3.jpg);
}
.image4{
  background-image: url(./cup-4.jpg);
}
.image5{
  background-image: url(./cup-5.jpg);
}
.image6{
  background-image: url(./cup-6.jpg);
}
.image7{
  background-image: url(./cup-7.jpg);
}

@media (max-width:476px){
  .container{
    grid-template-columns: 300px;
  }
}