*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 320px 320px;
  gap: 20px;
  justify-content: center;
}

.item > div {
  box-shadow: gray 2px 2px;
  text-align: center;
  border: 1px solid lightgray;
}

.item > div > p {
  text-align: left;
  font-size: 10px;
}