*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container:hover{
  animation-play-state: running;
}

.box1{
  width: 100px;
  height: 100px;
  background: red;
}
.box2{
  width: 100px;
  height: 100px;
  background: blue;
}
.box3{
  width: 100px;
  height: 100px;
  background: green
}
.box4{
  width: 100px;
  height: 100px;
  background: gray
}

@keyframes{
  
}