.alert-box{
  background: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  display: none;
}
.alert{
  background: whitesmoke;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}